<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <a href="/tags">标签</a>
    <a href="/categories">分类</a>
    <a href="/about">关于</a>
    文章列表:
    <ul>
        {% for post in posts %}
            <li>
                <span>时间：{{post.timeStamp}}</span>
                <a href={{post.url}}>{{post.title}}</a>
            </li>
        {% endfor %}
    </ul>
    第<span>{{pageNumber+1}}页</span>
    共有<span>{{sumPages}}页</span>

    {% if pageNumber !== 0 %}
        <a href="/page/{{pageNumber-1}}">上一页</a>
    {% endif %}

    {% if (pageNumber+1) !== sumPages %}
        <a href="/page/{{pageNumber+1}}">下一页</a>
    {% endif %}

</body>
</html>