<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{config.basic.root}}/assets/css/layout.css">
    {% block head %}
    
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div id="container">
        <div id="nav">
            <div class="site-header-info">
                <a href="{{config.basic.root}}/">
                    <img src="https://avatars2.githubusercontent.com/u/16136702?v=4&s=120" width="100" height="100"/>
                </a>
                <h1 class="site-title">{{config.basic.title}}</h1>
                <h2 class="site-description">爱技术，爱生活</h2>
            </div>

            {% block nav %}
                
            {% endblock %} 
        </div>

        {% block content %}
        {% endblock %}
       
        <div id="footer">
            主题提供: <a href="https://github.com/laoqiren/yohe">Yohe</a>
            Powered By <a href="https://github.com/laoqiren/yohe">Yohe</a>
            图片存储: <a href="http://www.qiniu.com/">qiniu</a>
        </div>
    </div>

    {% block script %}
</body>
</html>