{% extends "./layout.html" %}

{% block title %}
    {{config.basic.title}}
{% endblock %}

{% block head %}
     <link rel="stylesheet" href="{{config.basic.root}}/assets/css/index.css">
{% endblock %}

{% block nav %}
    {% parent %}
{% endblock %}

{% block content %}
    {{content.content}}
    <div id="gitcomment"></div>
{% endblock %}

{% block script %}
    <script>
        var gitment = new Gitment({
          owner: "{{config.gitment.owner}}",
          repo: "{{config.gitment.repo}}",
          oauth: {
            client_id: "{{config.gitment.oauth.client_id}}",
            client_secret: "{{config.gitment.oauth.client_secret}}"
          }
        })
        gitment.render('gitcomment')
    </script>
{% endblock %}

{% block secondary %}
    {% parent %}
{% endblock %}