{% extends "./layout.html" %}

{% block title %}
    {{config.basic.title}}
{% endblock %}

{% block head %}
     <link rel="stylesheet" href="{{config.basic.root}}/assets/css/list.css">
{% endblock %}

{% block nav %}
    {% parent %}
{% endblock %}

{% block content %}
    <header class="list-header">
        <h1 class="list-title"><span>{{title}}</span></h1>
        <div class="taxonomy-description">
            <p>
                There are {{list.length}} posts in <strong>{{title}}</strong>
            </p>
        </div>
    </header>

    <main id="content" class="site-content">
            {% for post in list %}
                <article>
                    <header class="article-header">
                        <h1><a href={{post.url}}>{{post.title}}</a></h1>
                    </header>
                    <p>
                        {{post.headContent}}
                    </p>
                    <p>
                        <a href={{post.url}}>阅读更多</a>
                    </p>
                    <footer class="article-footer">
                        in {{post.categories}} | {{post.date}} | 0评论
                    </footer>
                </article>
            {% endfor %}
    </main>
    
{% endblock %}

{% block secondary %}
    {% parent %}
{% endblock %}