{% extends "./layout.html" %}

{% block title %}
    {{config.basic.title}}
{% endblock %}

{% block head %}
  <link rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{config.theme.highlightTheme}}.min.css">
  <link rel="stylesheet" href="{{config.basic.root}}/assets/css/post.css"/>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{% endblock %}

{% block nav %}
  <div class="post-info">
    <div class="site-published-separator"></div>
    <h2 class="site-published">Published</h2>
    <h2 class="site-publish-date">{{post.date}}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="post">
    <div class="post-header">
      <h2 class="post-cate">in {{post.categories}}</h2>
      <h1>{{post.title}}</h1>
    </div>
    <div class="post-content">
        {{post.content}}
    </div>
    <div id="gitcomment"></div>
  </div>
{% endblock %}

{% block secondary %}
{% endblock %}

{% block script %}
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
        var gitment = new Gitment({
          owner: "{{config.gitment.owner}}",
          repo: "{{config.gitment.repo}}",
          oauth: {
            client_id: "{{config.gitment.oauth.client_id}}",
            client_secret: "{{config.gitment.oauth.client_secret}}"
          }
        })
        gitment.render('gitcomment')
    </script>
{% endblock %}