{% extends "./layout.html" %}

{% block title %}
    {{config.basic.title}}
{% endblock %}

{% block head %}
     <link rel="stylesheet" href="{{config.basic.root}}/assets/css/tags.css">
{% endblock %}

{% block nav %}
    {% parent %}
{% endblock %}

{% block content %}
    <div class="tag-cloud">
        <div class="tag-title">
            标签云
        </div>
        <div class="tags">
            {% for tag in tags %}
                <a href="{{tag.url}}">{{tag.name}}</a>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}

{% block secondary %}

{% endblock %}